.container {
	width: 960px;
}

body {
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
	background: #F09048 url('../img/background.jpg') no-repeat center center fixed;
	width: 100%;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px #000;
}

ul {
	margin-left: -12%;
}

li {
	list-style-type: none;
	background: #39AECF;
	color: black;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	-webkit-box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
}

a:visited {
	color: white;
}

section.main {
	-webkit-box-shadow: 5px 5px 5px #000;
	-moz-box-shadow: 5px 5px 5px #000;
	background: #FFEACF;
	opacity: .8;
	width: 90%;
	border-radius: 10px;
	border: 1px solid;
}

header {
	text-align: center;
}

.main_header h1, .main_header h2 {
	background: #FFEACF;
	opacity: .8;
	margin-left: -5%;
	border-radius: 5px;
	border: 1px solid;
	margin: 2%;
}

h1 {
	text-shadow: 2px 2px 2px #FFF;
	font-size: 2em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.2em;
	text-transform: capitalize;
	margin-top: -2%;
}

.image {
	width: 200px;
}

img {
	-webkit-box-shadow: 2px 2px 1px #000;
	display: inline-block;
	float: left;
	max-width: 100%;
	height: auto;
	margin: 10px;
}

footer {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px #000;
	margin-left: -12%;
}

p {
	margin: 20px;
	padding: 10px;
	vertical-align: center;
}

aside {
	font-weight: bold;
	font-size: .8em;
	text-align: center;
	font-style: italic;
	margin-top: -25px;
}
