.container {
	width: 960px;
}

body {
	font-family: 'Cinzel Decorative', cursive, serif;
	font-size: 1em;
	background: #F09048 url('../img/background.jpg') no-repeat bottom center fixed;
	width: auto;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px #000;
}

li {
	list-style-type: none;
	background: #39AECF;
	color: black;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	-webkit-box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
}

a:visited {
	color: white;
}

section.main {
	-webkit-box-shadow: 5px 5px 5px #000;
	-moz-box-shadow: 5px 5px 5px #000;
	background: #FFEACF;
	opacity: .8;
	width: auto;
}

header {
	text-align: center;
}

article {
	padding: 10px;
	margin: 10px;
}

h1 {
	text-shadow: 2px 2px 2px #FFF;
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
	text-transform: lowercase;
}

.image {
	width: 200px;
}

img {
	-webkit-box-shadow: 2px 2px 1px #000;
	display: inline-block;
	float: left;
	max-width: 100%;
	height: auto;
	margin: 10px;
}

footer {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px #000;
}

p {
	margin: 10px;
	padding: 10px;
	vertical-align: center;
}

aside {
	font-weight: bold;
	font-size: .8em;
	text-align: center;
}
